<!DOCTYPE html>
<html>
<head>
  <title>Discount Fireworks Superstore</title>
  <meta charset="utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/main.css') }}>
<script>
  $(document).ready(function(){
    $('#see_all').click(function(){
      $.ajax({
        url: '/gettable/',
        data: {'limit':'LIMIT 15'},
        success: function(result){
          var table = result.table;
          var columnnames = result.columnnames;
          htmlTable = "<thead><tr>";
          for(key in columnnames){
            htmlTable += "<th>" + columnnames[key] + "</th>";
          }
          htmlTable += "</tr></thead><tbody>";
          for(key in table){
            htmlTable += "<tr>"
            for(column in columnnames){
              if(table[key][column] != null){
                htmlTable += "<td>" + table[key][column] + "</td>";
              }
              else{
                htmlTable += "<td>" + "(empty)" + "</td>";
              }
            }
            htmlTable += "</tr>"
          }
          htmlTable += "</tbody>"
          document.getElementById('table').style.display = 'table';
          document.getElementById('main').style.display = 'none'
          document.getElementById('table').innerHTML = htmlTable;
        },
        error: function(result){
          console.log('FAIL');
        }
      });
    });
  });
</script>

</head>
<body>
	<header class="container">
    <div class="row">
        <img class="logo-img" src="static/styles/DFSLogo_A-3.png">
	<h1 class="col-sm-4">Discount Firework Superstore</h1>
      <nav class="col-sm-8 text-right">
      	<p>Newest</p>
        <p>Catalogue</p>
        <p>Contact</p>
        <p>Login</p>
      </nav>
    </div>
  </header>

  <section id="main" class="jumbotron">
    <div class="container">
    	<div class="row text-center">
        <h2>Glorious Fireworks!</h2>
        <h3>This Year's Best</h3>
        <a id="see_all" class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
  <div class="page-wrap">
    <table id="table" class="table">
    </table>
  </div>

</body>
</html>
